{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<p>visits: {{ visits }}</p>
	<div>
		<h1>About Page</h1>
		This tutorial has been put together by Yin! <br />
		<strong>{{ boldmessage }}</strong><br /> 
	</div>

	<div>
		<a href="{% url 'about' %}">About</a><br /> 
		<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
		<img src="{{MEDIA_URL}}cat.jpg" alt="Picture of Elgin the Cat from Rango">
	</div> 
    
{% endblock %}